header {
    display: flex;
    background-color: white;
    justify-content: space-between;
}
.title {
    margin-left: 75px;
    font-size: 1.25em;
    display: inline-flex;
}
#red {
    color: crimson;
    font-weight: 900;
}
#green {
    color: olive;
    font-weight: 900;
}
.menu {
    margin-right: 6em;
}
a {
    padding: 1em;
    color: black;
    font-size: 1.5em;
    margin-top: 0.8em;
    text-decoration: none;
    display: inline-block;
}
body {
    background-image: url(res/seigaiha.png);
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}
.row {
    display: flex;
    margin-right: 3em;
    justify-content: space-between;
}
.big {
    font-size: 4em;
    font-weight: 900;
    margin-left: 75px;
    line-height: 0.9em;
}
img {
    width: 20%;
    margin-top: 3em;
}