header {
    display: flex;
    background-color: white;
    justify-content: space-between;
}
.title {
    margin-left: 75px;
    font-size: 1.25em;
    display: inline-flex;
}
#red {
    color: crimson;
    font-weight: 900;
}
#green {
    color: olive;
    font-weight: 900;
}
.menu {
    margin-right: 6em;
}
.menu a {
    padding: 1em;
    color: black;
    font-size: 1.5em;
    margin-top: 0.8em;
    text-decoration: none;
    display: inline-block;
}
body {
    background-image: url(res/seigaiha.png);
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}
.row {
    display: flex;
    margin-top: 1em;
    margin-right: 4em;
    overflow: hidden;
    justify-content: space-between;
}
.row a {
    color: black;
    font-size: 1em;
    text-decoration: none;
    margin-left: 75px;
    font-weight: 600;
}
.big {
    font-size: 3.5em;
    font-weight: 900;
    margin-left: 75px;
    margin-right: 0;
    line-height: 0.9em;
    margin-bottom: 0;
}
.intro {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 75px;
    margin-right: 0;
    width: 20em;
}
.pic {
    width: 20vw;
    margin-top: 3em;
    position: relative;
}
img {
    height: 33em;
    min-width: 100%;
}
.blip1 {
    text-align: right;
    font-weight: 600;
    position: absolute;
    bottom: 4em;
    margin: -1em;
    right: 0;
    padding: 1em;
    background-color: white;
}
.blip2 {
    text-align: right;
    font-weight: 600;
    position: absolute;
    margin: 0;
    right: -1em;
    bottom: 4px;
    padding: 1em;
    padding-left: 2em;
    background-color: olive;
}