header {
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    font-size: 1.25em;
    display: inline-flex;
}
#red {
    color: red;
    font-weight: 900;
}
#green {
    color: lime;
    font-weight: 900;
}
a {
    padding: 1em;
    color: black;
    font-size: 1.5em;
    text-decoration: none;
    display: inline-block;
    margin-top: 0.8em;
}